 #bigbox{
    width: 100%;
    height: 100%;
}

#bigbox>div{
    display: flex;
    flex-direction: column;
    height:100%;
    overflow:hidden;
    /* flex:1; */
}
#quick .ant-tabs{
    height: 100%;
}
#quick .ant-tabs-nav /deep/ .ant-tabs-tab{
    text-align: center!important;
    margin-bottom:8px;
    padding:12px 24px;
}
#quick .ant-tabs-nav .ant-tabs-tab-active{
    box-shadow: 0 4px 8px rgba(130, 140, 197, 0.349), 0 0 10px rgba(105, 98, 206, 0.192);
}
#quick h4{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
}
#quick .item{
    padding:12px;
    background:#fff;
    box-shadow: 0 4px 8px rgba(130, 140, 197, 0.349), 0 0 12px rgba(105, 98, 206, 0.192);
}
#quick .desc{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}
#quick .img{
    text-align: center;
}
#quick .item img{
    max-width: 130px;
    margin:10px auto;
}
#quick .ant-tabs /deep/ .ant-tabs-content{
    /* background:rgba(173, 227, 243, 0.151)!important; */
    padding-right: 10px;
    overflow: auto;
    height: 100%;
}
#quick .price{
    color:red;
    margin-bottom: 8px;
}
#quick .price span{
    font-size: 20px;
    font-weight: 800;
}
#quick .info{
    
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 12px;
}
#quick .item-bottom{
    border-top: 1px solid #e9e9e9;
}
#quick .content{
    font-size: 10px;
    margin-bottom: 0;
    color:#999;
    padding:6px 0;
}
#quick .ant-drawer /deep/ .ant-drawer-content-wrapper{
    height:500px !important;
    overflow-y:scroll;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#quick .ant-drawer-header{
    border-bottom: 0 !important;
    padding-bottom: 0;;
}
#quick .ant-drawer-body{
    padding:10px 20px;
    overflow-y:auto;
    overflow-x:hidden;
    background:#fff;
}
#quick .ant-drawer-body .picwall {
    width: 100%;
    display: flex;
    overflow:auto;
}
#quick .ant-drawer-body .picwall img{
    height: 145px;
}
#quick .button-group{
    display:flex;
    justify-content: space-around;
}
#quick .button-group button{
    width: 45%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color:#00bb55;
    background:#e9e9e9;
}
#quick .button-group button:nth-of-type(2){
    color:#fff;
    background:#00bb55;
}