.main-box {
  width: 100%;
  margin-top: 110px;
  box-sizing: border-box;
  padding: 20px;
}
.main-box .l_box {
  width: 350px;
  height: 110px;
  border-radius: 5px;
  overflow: hidden;
}
.main-box .l_box img {
  width: 100%;
  height: 100%;
}
.main-box .ant-tag {
  margin-right: 0 !important;
  border-radius: 12px !important;
}
.main-box .img-box {
  width: 130px;
  height: 48px;
}
